* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 .navbar{
    background-color:#512888;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:20px;
  }
  .nav_list{
    list-style: none;
  }
  .nav_list .list_item{
    display: inline-block;
    padding: 20px 10px;
  }
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar a:hover{
    color:#D1D1D1;
}
.img{
    height:100px;
}
.menu{
    display: none;;
}
.menu_line{
    width:20px;
    height:3px;
    background-color: white;
    margin-bottom: 4px;
}
@media all and (max-width: 800px){
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .navbar .img_div{
        width:100%;
    }
    .nav_list .list_item{
        display: block;
        border-top:1px solid white;
        padding: 10px 10px;
    }
    .menu{
        display:block;
        position: absolute;
        right:15px;
        top:15px;
    }
    .nav_list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top:10px;
        display: none;
    }
    .img{
        height:50px;
        margin-left:10px;
        margin-top:10px;
    }
    .active{
        display: block;
    }
    .events {
        flex-direction: row;
    }
    .events_list{
        flex-direction: row;
    }

}
.header {
    position: relative;
    height: 500px;
    width: 100%;
    padding:60px 0;
    text-align: left;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Banner1.PNG");
    /* background-image:url("Banner.PNG"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  .nsbe-info{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  .btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 1px solid #f0ad00;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px; 
  }
  
  .btn-bgstroke:hover {
    background-color: #512888;
    color: #f0ad00;
  }
    .header-content {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px;
      background-color: rgba(62, 128, 193, 0.7);
      border-radius: 10px;
    }
    
    .header-content h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    
    .header-content p {
      font-size: 24px;
      margin-bottom: 30px;
    }
    
    .header-content button {
      background-color: #fff;
      color: #3e80c1;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      padding: 10px 30px;
      cursor: pointer;
    }
    
    .info {
      margin: 0 auto;
      padding: 50px;
      background-color: #fff;
      text-align: center;
      display: inline-flex;
    }
    
    .info h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    .info p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    .box{
      border-radius: 10px;
      background-color: #D1D1D1;
      margin: 6px;
    }
    
    .events {
        margin: 0 auto;
        padding: 50px;
        background-color: #D1D1D1;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
    }
    
    .events h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    .events ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    
    .events li {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 10px;
      margin-bottom: 30px;
      padding: 30px;
    }
    
    .events li h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .events li p {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 1.6;
    }
    
    .events li button {
      background-color: #3e80c1;
      color: #fff;
      border: none;
    }
    .events_list{
        display: flex;
        flex-direction: column;
    }


    .events-container {
      max-width: 900px;
      margin: 20px auto;
    }
    
    .events-container h2 {
      font-size: 30px;
      border-left: 4px solid #023047;
      padding-left: 20px;
    }
    
    .events-container .events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
    
    .events-container .event {
      box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
      padding: 24px;
      border-radius: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: all 400ms ease;
      background-color: #D1D1D1;
    }
    
    .events-container .event:hover {
      transform: scale(1.01);
    }
    
    .events-container .event-title {
      font-size: 20px;
      padding: 10px 0;
      margin: 0;
      color: #512888;
    }
    .events-container .event-location {
      font-size: 15px;
      margin: 0;
      color: #512888;
    }
    
    .events-container .event-details {
      margin-top: 6px;
      font-size: 14px;
      color: black;
      line-height: 1.8;
      flex: 1;
    }
    
    .events-container .eventSignUp-btn {
      text-decoration: none;
      border: 1px solid #f0ad00;
      color: #000;
      padding: 8px 16px;
      border-radius: 8px;
      text-align: center;
      margin-top: 20px;
      transition: all 400ms ease;
    }
    
    .events-container .eventSignUp-btn:hover {
      background: #512888;
      color: #fff;
    }
    
    .events-container .event-search {
      width: 100%;
      padding: 12px 24px;
      font-size: 18px;
      font-family: "Rubik", sans-serif;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    
    @media (max-width: 940px) {
      .events-container .events {
        grid-template-columns: 1fr 1fr;
      }
    }
    
    @media (max-width: 640px) {
      .events-container .events {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
      }
    }
    #mission-statement {
      background-color: #f9f9f9;
      padding: 50px;
      text-align: center;
    }
    #quote-right{
      grid-row: 1 /  span 2;
      grid-column: 3
    }
    #quote-left{
      grid-row: 1 /  span 2;
      grid-column: 1;
    }
    
    #mission-statement .quotation-icons {
      display: grid;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    
    #mission-statement .quotation-icons i {
      font-size: 36px;
      color: #666666;
    }
    
    #mission-statement .text-container {
      flex: 1;
      grid-row: 1;
      grid-column: 2;
    }
    
    #mission-statement h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #212121;
      flex: 1;
    }
    
    #mission-statement p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #666666;
      flex: 1;
    }
    
    #mission-statement img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      grid-row: 2;
      grid-column: 2;
    }



    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    .column a {
      text-decoration: none;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    