
:root {
  --primary-color: #512888;
  --secondary-color: #D1D1D1;
  --font-family: sans-serif;
  --small-font-size: 20px;
  --medium-font-size: 30px;
  --large-font-size: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 .navbar{
    background-color:#512888;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:20px;
  }
  .nav_list{
    list-style: none;
  }
  .nav_list .list_item{
    display: inline-block;
    padding: 20px 10px;
  }
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar a:hover{
    color:#D1D1D1;
}
.img{
    height:100px;
}
.menu{
    display: none;;
}
.menu_line{
    width:20px;
    height:3px;
    background-color: white;
    margin-bottom: 4px;
}
@media all and (max-width: 800px){
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .navbar .img_div{
        width:100%;
    }
    .nav_list .list_item{
        display: block;
        border-top:1px solid white;
        padding: 10px 10px;
    }
    .menu{
        display:block;
        position: absolute;
        right:15px;
        top:15px;
    }
    .nav_list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top:10px;
        display: none;
    }
    .img{
        height:50px;
        margin-left:10px;
        margin-top:10px;
    }
    .active{
        display: block;
    }
    .events {
        flex-direction: row;
    }
    .events_list{
        flex-direction: row;
    }

}
.header {
    position: relative;
    height: 500px;
    width: 100%;
    padding:60px 0;
    text-align: left;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/Group.JPG");
    /* background-image:url("Banner.PNG"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  .nsbe-info{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  .btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 1px solid #f0ad00;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px; 
  }
  
  .btn-bgstroke:hover {
    background-color: #512888;
    color: #f0ad00;
  }
    .header-content {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px;
      background-color: rgba(62, 128, 193, 0.7);
      border-radius: 10px;
    }
    
    .header-content h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    
    .header-content p {
      font-size: 24px;
      margin-bottom: 30px;
    }
    
    .header-content button {
      background-color: #fff;
      color: #3e80c1;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      padding: 10px 30px;
      cursor: pointer;
    }
    
    .info {
      /* margin: 0 auto;
      padding: 50px;
      background-color: #fff;
      text-align: center;
      display: flex; */
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      padding: 5rem;
    }
    
    .info h2 {
      font-size: 36px;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .info p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;
      text-align: center;

    }
    .box{
      border-radius: 10px;
      background-color: #D1D1D1;
      margin: 6px;
    }
    
    /* .events {
        margin: 0 auto;
        padding: 50px;
        background-color: #D1D1D1;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
    }
    
    .events h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    .events ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    
    .events li {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 10px;
      margin-bottom: 30px;
      padding: 30px;
    }
    
    .events li h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .events li p {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 1.6;
    }
    
    .events li button {
      background-color: #3e80c1;
      color: #fff;
      border: none;
    }
    .events_list{
        display: flex;
        flex-direction: column;
    }


    .events-container {
      max-width: 900px;
      margin: 20px auto;
    }
    
    .events-container h2 {
      font-size: 30px;
      border-left: 4px solid #023047;
      padding-left: 20px;
    }
    
    .events-container .events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
    
    .events-container .event {
      box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
      padding: 24px;
      border-radius: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: all 400ms ease;
      background-color: #D1D1D1;
    }
    
    .events-container .event:hover {
      transform: scale(1.01);
    }
    
    .events-container .event-title {
      font-size: 20px;
      padding: 10px 0;
      margin: 0;
      color: #512888;
    }
    .events-container .event-location {
      font-size: 15px;
      margin: 0;
      color: #512888;
    }
    
    .events-container .event-details {
      margin-top: 6px;
      font-size: 14px;
      color: black;
      line-height: 1.8;
      flex: 1;
    }
    
    .events-container .eventSignUp-btn {
      text-decoration: none;
      border: 1px solid #f0ad00;
      color: #000;
      padding: 8px 16px;
      border-radius: 8px;
      text-align: center;
      margin-top: 20px;
      transition: all 400ms ease;
    }
    
    .events-container .eventSignUp-btn:hover {
      background: #512888;
      color: #fff;
    }
    
    .events-container .event-search {
      width: 100%;
      padding: 12px 24px;
      font-size: 18px;
      font-family: "Rubik", sans-serif;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    
    @media (max-width: 940px) {
      .events-container .events {
        grid-template-columns: 1fr 1fr;
      }
    }
    
    @media (max-width: 640px) {
      .events-container .events {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
      }
    } */

    .events-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;
    }
    
    .events-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      padding: 20px;
      background-color: #D1D1D1;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    
    .events-header h2 {
      font-size: 36px;
      margin: 0;
    }
    
    .events-filter {
      display: flex;
      align-items: center;
    }
    
    .events-filter select,
    .events-filter button {
      padding: 10px 20px;
      margin-left: 20px;
      font-size: 18px;
      background-color: #512888;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    
    .events-filter select {
      background-color: #fff;
      color: #512888;
    }
    
    .events-filter select option {
      color: #512888;
    }
    
    .event-search {
      width: 50%;
      padding: 12px 20px;
      margin-bottom: -5px;
      font-size: 18px;
      font-family: "Rubik", sans-serif;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    
    .events {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
    }
    
    .event {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      background-color: #D1D1D1;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      cursor: pointer;
    }
    
    .event:hover {
      transform: scale(1.05);
    }
    
    .event-title {
      text-align: center;
      margin: 0;
      font-size: var(--large-font-size);
      font-weight: bold;
    }
    
    .event-details {
      text-align: center;
      margin-top: 20px;
      font-size: var(--medium-font-size);
      line-height: 1.5;
    }
    
    .event-location,.event-time,.event-date {
      text-align: center;
      margin-top: 10px;
      font-size: var(--medium-font-size);
      color: #512888;
    }
    
    .eventSignUp-btn {
      align-self: flex-end;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #512888;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;
      text-align: center;
      text-decoration: none;
    }
    
    .eventSignUp-btn:hover {
      background-color: #f0ac00be;
    }
    
    @media screen and (max-width: 960px) {
      .events {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
    
    @media screen and (max-width: 600px) {
      .events {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }


    #mission-statement {
      background-color: #d1d1d1a8;
      padding: 50px;
      text-align: center;
    }
    #quote-right{
      grid-row: 1 /  span 2;
      grid-column: 3
    }
    #quote-left{
      grid-row: 1 /  span 2;
      grid-column: 1;
    }
    
    #mission-statement .quotation-icons {
      display: grid;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    
    #mission-statement .quotation-icons i {
      font-size: 36px;
      color: black;
    }
    
    #mission-statement .text-container {
      flex: 1;
      grid-row: 1;
      grid-column: 2;
    }
    
    #mission-statement h2 {
      font-size: var(--large-font-size);
      margin-bottom: 20px;
      color: #212121;
      flex: 1;
    }
    
    #mission-statement p {
      font-size: var(--medium-font-size);
      line-height: 1.5;
      margin-bottom: 20px;
      color: #666666;
      flex: 1;
    }
    
    #mission-statement img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      grid-row: 2;
      grid-column: 2;
    }



    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    .column a {
      text-decoration: none;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }

    .Sponsors_Header{
      display: flex;
      justify-content: center;
    }
    .Sponsors a{
      text-decoration: none;
    }
    .Sponsors {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin: 50px auto;
      max-width: 1200px;
    }
    
    .Sponsors_Card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color:#D1D1D1;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
      max-width: 300px;
    }
    
    .Sponsors_Card:hover {
      transform: scale(1.05);
    }
    
    .Sponsors_Card img {
      max-width: 100%;
      height: auto;
    }
    
    .Sponsors_Card h2 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
      color: #333;
    }
    
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      padding:5rem;
    }
    .Executive_Board_Header{
      display: flex;
      justify-content: center;
    } 


    
    .hover-container {
      width: 100%;
      max-width: 315px;
      overflow: hidden;
      position: relative;
      text-align: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      /* margin: 10px auto; */
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      border-radius: 20px;
    }
    
    .hover-container:hover {
      transform: scale(1.05);
    }
    
    .hover-container-header {
      background-color: var(--secondary-color);
      padding: 10px;
    }
    
    .hover-container-header h5 {
      font-size: var(--large-font-size);
      font-weight: bold;
      font-family: var(--font-family);
      color: var(--primary-color);
      margin: 0;
    }
    
    .hover-container-image {
      background-color: #fff;
    }
    
    .hover-container-image img {
      width: 100%;
      height: auto;
      transition: all 0.45s ease;
    }
    
    .hover-container-text {
      background-color: var(--secondary-color);
      font-family: var(--font-family);
      color: var(--primary-color);
      padding: 10px;
      font-size: var(--medium-font-size);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .hover-container-text p {
      margin: 5px 0;
      font-size: var(--small-font-size);
    }
    
    .hover-container-text p:last-of-type {
      margin-bottom: 0;
    }
    
    @media screen and (min-width: 768px) {
      .hover-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        max-width: 450px;
      }
      
      .hover-container-text {
        font-size: var(--large-font-size);
      }
    }
    